<div class="bg-gradient-to-r from-gray-300 to-indigo-200 flex items-center justify-center flex-col h-screen">

    <div class="bg-white rounded-[30px] shadow-[0_5px_15px_rgba(0,0,0,0.35)] relative overflow-hidden w-[768px] max-w-full min-h-[480px]" id="container">
        <div class="absolute top-0 h-full transition-all duration-600 ease-in-out left-0 w-1/2 z-20" id="sign-up">
            <form class="bg-white flex items-center justify-center flex-col p-10 h-full">
                <h1 class="text-4xl font-bold">Iniciar Sesión</h1>
                <h3 class="text-gray-500 mt-3 text-center">Accede a tu cuenta completando los campos a continuación y continúa disfrutando de nuestros servicios.</h3>
                <input type="email" placeholder="Correo" class="bg-gray-200 border-none my-2 py-2 px-4 text-sm rounded-md w-full outline-none mt-3">
                <input type="password" placeholder="Contraseña" class="bg-gray-200 border-none my-2 py-2 px-4 text-sm rounded-md w-full outline-none">
                <a href="#" class="text-sm text-gray-700 mt-3 mb-2">¿Olvidaste tu contraseña?</a>
                <button class="bg-purple-700 text-white text-xs py-2 px-10 rounded-md font-semibold tracking-wide uppercase mt-3">Iniciar Sesión</button>
            </form>
        </div>
        
        <!-- Contenedor morado -->
        <div class="absolute top-0 left-1/2 w-1/2 h-full overflow-hidden transition-all duration-600 ease-in-out rounded-[150px_0_0_100px] z-[1000] transform translate-x-0" id="toggle-container">
            <div class="bg-purple-700 h-full bg-gradient-to-r from-indigo-600 to-purple-700 text-white relative -left-full h-full w-[200%] transform translate-x-0 transition-all duration-600 ease-in-out" id="toggle">
                
                <div class="absolute top-0 right-0 w-1/2 h-full flex items-center justify-center flex-col p-8 text-center transition-all duration-600 ease-in-out" id="toggle-right">
                    <h1 class="text-2xl font-bold">Hola, Bienvenido</h1>
                    <p class="text-sm mt-4">Regístrate con tus detalles personales para poder usar todas las funciones del sitio</p>
                    <button class="hidden bg-transparent border border-white text-white mt-5 py-2 px-10 rounded-md uppercase">Registrarse</button>
                </div>
            </div>
        </div>
    </div>
  
  </div>
  